<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Timetabling System</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/parentCSS")
        @Styles.Render("~/Content/themes/base/jquery.ui.progressbar.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        
        <div style="font-size:14px;" id="mainWrapper">
            <header>

                <div class="headerWrapper">
                    
                    <img id="lboroLogo" src="~/Images/LboroLogo.png" alt="Loughborough University Logo" />

                    <div id="userTextContainer">
                        <div id="userText"></div>
                    </div>
                    

                    <div id="logoutBtn">
                        @Html.ActionLink("Log Out", "SignOut", "User")
                    </div>
                    
                    <div id="progressContainer">
                        <span id="roundInfo">Current Round: 3</span>
                        <div id="progressbar"></div>
                        <span id="progressText">40 day left until Round Ends</span>
                    </div>

                </div>

            </header>

            <nav id="navSection">
                <ul id="menuLinks">
                    <li>@Html.ActionLink("Home", "Home", "Main")</li>
                    <li>@Html.ActionLink("Add", "Add", "Main", null, new { id = "addPageBtn" })</li>
                    <li>@Html.ActionLink("Requests", "Requests", "Display", null, new { id = "requestsPageBtn" })</li>
                    <li>@Html.ActionLink("Results", "Results", "Display")</li>
                    <li>@Html.ActionLink("Bookings", "Bookings", "Display", null, new { id = "bookingsPageBtn" })</li>
                    <li>@Html.ActionLink("History", "History", "Display")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Main")</li>

                   
                <li>@Html.ActionLink("Test1", "Test", "Test")</li>
                <li>@Html.ActionLink("Test2", "Test2", "Test")</li>
                <li>@Html.ActionLink("Test3", "Test3", "Test")</li> @**@
                </ul>
            </nav>


            <div id="contentDiv">
                @RenderBody()
            </div>

            @RenderSection("scripts", required: false)

        </div>

    </body>

    @Scripts.Render("~/bundles/parent")

</html>
