<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/parentCSS")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        
        <div id="mainWrapper">
        <header>
            <div class="headerWrapper">
                 <img id="lboroLogo" src="~/Images/LboroLogo.png" alt="Loughborough University Logo"/>
            </div>

            
            
        </header>
        @Html.ActionLink("Log Out", "LogOut", "User")
        <nav id="navSection">
            <ul id="menuLinks">
                <li>@Html.ActionLink("Home", "Home", "Main")</li>
                <li>@Html.ActionLink("Add", "Add", "Main")</li>
                <li>@Html.ActionLink("Requests", "Requests", "Display")</li>
                <li>@Html.ActionLink("Results", "Results", "Display")</li>
                <li>@Html.ActionLink("My Bookings", "MyBookings", "Display")</li>
                <li>@Html.ActionLink("All Bookings", "AllBookings", "Display")</li>
                <li>@Html.ActionLink("History", "History", "Display")</li>
                <li>@Html.ActionLink("Settings", "Settings", "Main")</li>
                
            </ul>
        </nav>

        @*
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="MenuLinks">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        *@

        <div id="contentDiv">
            @RenderBody()
        </div>


        @*
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="ContentDiv">
                    @RenderBody()
                </div>
            </section>
        </div>
        *@


        @*
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        *@

        @RenderSection("scripts", required: false)

        </div>

    </body>

    @Scripts.Render("~/bundles/parent")

</html>
