<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Timetabling System</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/parentCSS")
        @Styles.Render("~/Content/themes/base/jquery.ui.progressbar.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        
        <div id="mainWrapper">
        <header>
            <div class="headerWrapper">
                 <img id="lboroLogo" src="~/Images/LboroLogo.png" alt="Loughborough University Logo"/>
            </div>

            
            
        </header>
        @Html.ActionLink("Log Out", "SignOut", "User")
        <nav id="navSection">
            <ul id="menuLinks">
                <li>@Html.ActionLink("Home", "Home", "Main")</li>
                <li>@Html.ActionLink("Add", "Add", "Main")</li>
                <li>@Html.ActionLink("Requests", "Requests", "Display")</li>
                <li>@Html.ActionLink("Results", "Results", "Display")</li>
                <li>@Html.ActionLink("Bookings", "Bookings", "Display")</li>
                <li>@Html.ActionLink("History", "History", "Display")</li>
                <li>@Html.ActionLink("Settings", "Settings", "Main")</li>
                

                <li>@Html.ActionLink("Test1", "Test", "Test")</li>
                <li>@Html.ActionLink("Test2", "Test2", "Test")</li>
                <li>@Html.ActionLink("Test3", "Test3", "Test")</li>
            </ul>
        </nav>
        
            <div id="progressbar"></div>


        <div id="contentDiv">
            @RenderBody()
        </div>


        @*
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="ContentDiv">
                    @RenderBody()
                </div>
            </section>
        </div>
        *@


        @*
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        *@

        @RenderSection("scripts", required: false)

        </div>

    </body>

    @Scripts.Render("~/bundles/parent")

</html>
